[Unit]
Description=Ermete OS Pre-Boot GUI Recovery Kiosk
Documentation=https://github.com/hr-mes/ermete-forge
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty9.service

[Service]
CPUWeight=100
MemoryMax=1024M
OOMScoreAdjust=-100
Type=simple
ExecStart=/usr/bin/sh -c 'export XDG_RUNTIME_DIR=/run/user/$(id -u); mkdir -p -m 0700 "$XDG_RUNTIME_DIR"; export WLR_NO_HARDWARE_CURSORS=1; exec /usr/bin/cage -s -m extend -- /usr/bin/ermete-recovery-ui'
Restart=on-failure
RestartSec=5
User=ermete-recovery
Group=ermete-recovery
SupplementaryGroups=video input
TTYPath=/dev/tty9
StandardInput=tty
StandardOutput=tty
StandardError=journal

# systemd hardening
NoNewPrivileges=no
ProtectSystem=strict
ReadWritePaths=/etc /var
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=no
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=no
LockPersonality=yes
SystemCallFilter=@system-service @mount

[Install]
WantedBy=ermete-recovery.target
