[Unit]
Description=Ermete OS User Skeleton Sync
Documentation=https://github.com/hr-mes/ermete-forge
Before=ermete-shell.service ermete-wallpaper.service niri-session.target
DefaultDependencies=no

[Service]
CPUWeight=50
MemoryMax=128M
Type=oneshot
ExecStart=/usr/bin/bash -c 'if [ ! -f "$HOME/.config/.skel_installed" ]; then cp -n -R /etc/skel/. "$HOME/" 2>/dev/null && mkdir -p "$HOME/.config" && touch "$HOME/.config/.skel_installed"; fi'
RemainAfterExit=yes

[Install]
WantedBy=niri-session.target graphical-session.target
